.boton{
width: 100px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: antiquewhite;
}

.rojo{
  background-color: red;
  
}
.verde{
  background-color: greenyellow;
}

// **********************

