// .contenedor{
//   background-color: #333;
//   color: white;
//   height: 100vh;
//   padding: 15px;
// }

// *************************

.contenedor{
  height: 100%;
  background-color: rgb(238, 235, 159);
  color: white;
  padding: 15px;
}